a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

/* body {
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: "Gilroy-SemiBold", sans-serif;
} */

.center {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
}

.header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.header__menu {
    width: 533px;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 39px;
}

.top__info {
    width: 524px;
    margin-top: 84px;
    margin-bottom: 162px;
}

.title {
    margin-bottom: 17px;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__button {
    margin-top: 37px;
}

.text {
    font-family: Gilroy-Medium;
    width: 466px;
    font-size: 20px;
}

.logo {
    padding-right: 30px;
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top__button {
    display: flex;
    gap: 72px;
}

.button {
    border: 0;
    font-family: Gilroy-Bold;
    font-size: 15px;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
}

.button_1 {
    color: #FFF;
    background: #F25822;
}

.button_2 {
    color: #AAA;
    background: #FFF;
}

.two__page__up {
    padding-top: 140px;
    padding-bottom: 125px;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, 310px);
    justify-content: center;
}

.heading {
    margin-top: 25px;
    margin-bottom: 17px;
    font-family: Gilroy-Bold;
    font-size: 24px;
}

.item__text {
    margin-bottom: 25px;
    width: 310px;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 150%;
}

.item__link {
    font-family: Gilroy-Bold;
    font-size: 11px;
    line-height: 150%;
}

.info__page__2 {
    margin-top: 92px;
    margin-bottom: 55px;
}

.title__page__2 {
    margin-bottom: 19px;
    font-family: Gilroy-Bold;
    font-size: 45px;
}

.text__center {
    text-align: center;
}

.text__page__2 {
    width: 682px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 150%
}

.flex__center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.two__page__down {
    padding-bottom: 100px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
}

.item__text_2 {
    width: 310px;
}

.item_2 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.heading_2 {
    margin-top: 25px;
    margin-bottom: 22px;
    font-family: Gilroy-Bold;
    font-size: 24px;
}

.item__text_2 {
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

.button_3 {
    margin-top: 39px;
    margin-bottom: 50px;
    margin-right: 20px;
    padding-left: 20px;
    border: 0;
    font-family: Gilroy-Bold;
    font-size: 13px;
    line-height: 150%;

    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    color: #FFF;
    background: #F25822;
}