a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: "Gilroy-SemiBold", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.header__menu {
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    display: flex;
    gap: 34px;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 39px;
}

.top__info {
    width: 524px;
    margin-top: 84px;
    margin-bottom: 162px;
}

.title {
    margin-bottom: 17px;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__button {
    margin-top: 37px;
}

.text {
    font-family: Gilroy-Medium;
    width: 466px;
    font-size: 20px;
}

.logo {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    gap: 48px;
}

.button {
    font-family: Gilroy-Bold;
    font-size: 15px;
}

.top__button {
    margin-left: 35px;
    display: flex;
    gap: 72px;
}